<nav class="navbar navbar-expand-sm navbar-dark bg-primary mt-2">
    <span class="navbar-brand ms-3">{{title}}</span>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Appointment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/appointmets" routerLinkActive="active">List Appointments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/exit" routerLinkActive="active">Sign out</a>
        </li>
    </ul>
</nav>
