<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-success me-md-2" type="button" (click)="exportToExcel()">Export to Excel</button>
    <button class="btn btn-danger me-md-2" type="button" (click)="exportToPDF()">Export to PDF</button>
</div>

@if (appointments != null && appointments.length > 0) {
<div class="table-responsive mt-3 border border-dark">
    <table class="table" id="export-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Patient Name</th>
                <th>Animal Type</th>
                <th>Owner Name</th>
                <th>Owner Surname</th>
                <th>Appointment Date and Time</th>
                <th style="width: 125px;">Appointment Duration</th>
                <th style="width: 125px;">Appointment Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (appointment of appointments; track appointment.appointmentId) {
            <!-- Created a variable to store the appintment status (Upcoming/Past) to later use within the @if -->
            @let appointmentStatus = (appointment.appointmentDate | convertToStatus:appointment.appointmentTime);
            <tr>
                <td>{{ appointment.appointmentId }}</td>
                <td>{{ appointment.patientName }}</td>
                <td>{{ appointment.animalType }}</td>
                <td>{{ appointment.ownerName }}</td>
                <td>{{ appointment.ownerSurname }}</td>
                <td>{{ appointment.appointmentDate + " - " + appointment.appointmentTime }}</td>
                <td>{{ appointment.appointmentDuration }}</td>
                <td>{{ appointmentStatus }}</td>
                <td>
                    <a [routerLink]="['/appointments', appointment.appointmentId]"><button type="button"
                            class="btn btn-outline-primary me-2">View</button></a>
                    <button type="button" class="btn btn-outline-success me-2" 
                            [disabled]="enabaleDisableUpdateBtn(appointmentStatus)"
                            (click)="showUpdateForm(appointment.appointmentId, appointmentStatus)">Update</button>
                    <button type="button" class="btn btn-outline-danger"
                        (click)="deleteAppointment(appointment.appointmentId)" [disabled]="enabaleDisableDeleteBtn()">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}