<div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div class="card col-6">
        <div class="card-header text-dark bg-light">Login</div>

        <div class="card-body">
            <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <fieldset>
                    <div class="mb-3">
                        <label for="txtUsername" class="form-label">Email</label>
                        <input type="text" class="form-control" id="txtUsername" formControlName="username">
                        @if(shouldProcessControlValidateMessage("username")) {
                        <div class="text-danger">
                            @if(loginForm.get("username")!.hasError("required")) {
                            <div>Email is required!</div>
                            }
                        </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="txtPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="txtPassword" formControlName="password">
                        @if(shouldProcessControlValidateMessage("password")) {
                        <div class="text-danger">
                            @if(loginForm.get("password")!.hasError("required")) {
                            <div>Password is required!</div>
                            }
                        </div>
                        }
                    </div>
                </fieldset>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.valid">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>