<div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div class="card col-6">
        <div class="card-header text-dark bg-light">Login</div>

        <div class="card-body">
            <form>
                <fieldset>
                    <div class="mb-3">
                        <label for="username" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="username" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </fieldset>

                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
